body {
  background-color: #0d1b2a;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 15em;
  width: 15em;
  border: solid 5px #778da9;
  border-radius: 50%;

  position: relative;
}

.needles {
  width: 7em;
  border: solid 4px #778da9;

  position: absolute;
  top: 50%;
  right: 50%;

  transform: rotate(90deg);
  transform-origin: 100%;
}
