:root {
  --color: #492e74;
  --spacing: 10px;
  --blur: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  text-align: center;
  background-color: #ebeff3;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--color);
}

img {
  width: 30em;
  height: auto;
  display: block;
  margin-top: 2rem;
  border-radius: 10px;

  padding: var(--spacing);
  background-color: var(--color);
  filter: blur(var(--blur));
}
